/* variables */
:root {
    --white-text: #fefdff;
    --white-bg: #ffffff;
    --gray-text:#d0d2fd;
    --gray-bg: #f8f8f8;
    --black-text: #191a21;
    --black-bg: #12131c;
    --pink-text: #e91e63;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* globals */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {margin: 0px}

.container {
    display: flex;
}

.content {
    width: 85%;
    margin-left: 15%;
    background-color: #ececec;
    min-height: 100vh;
}